<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juhai.business.mapper.UserMapper">
    
    <resultMap type="User" id="UserResult">
        <result property="id"    column="id"    />
        <result property="userName"    column="user_name"    />
        <result property="realName"    column="real_name"    />
        <result property="loginPwd"    column="login_pwd"    />
        <result property="email"    column="email"    />
        <result property="gender"    column="gender"    />
        <result property="nationality"    column="nationality"    />
        <result property="birth"    column="birth"    />
        <result property="idCard"    column="id_card"    />
        <result property="work"    column="work"    />
        <result property="city"    column="city"    />
        <result property="region"    column="region"    />
        <result property="address"    column="address"    />
        <result property="bankName"    column="bank_name"    />
        <result property="bankCard"    column="bank_card"    />
        <result property="status"    column="status"    />
        <result property="registerTime"    column="register_time"    />
        <result property="registerIp"    column="register_ip"    />
        <result property="lastTime"    column="last_time"    />
        <result property="lastIp"    column="last_ip"    />
        <result property="modifyTime"    column="modify_time"    />
    </resultMap>

    <sql id="selectUserVo">
        select id, user_name, real_name, login_pwd, email, gender, nationality, birth, id_card, work, city, region, address, bank_name, bank_card, status, register_time, register_ip, last_time, last_ip, modify_time from t_user
    </sql>

    <select id="selectUserList" parameterType="User" resultMap="UserResult">
        <include refid="selectUserVo"/>
        <where>  
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(register_time,'%Y-%m-%d %H:%i:%S') &gt;= date_format(#{params.beginTime},'%Y-%m-%d %H:%i:%S')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(register_time,'%Y-%m-%d %H:%i:%S') &lt;= date_format(#{params.endTime},'%Y-%m-%d %H:%i:%S')
            </if>
        </where>
        ORDER BY register_time DESC
    </select>
    
    <select id="selectUserById" parameterType="Long" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">user_name,</if>
            <if test="realName != null">real_name,</if>
            <if test="loginPwd != null">login_pwd,</if>
            <if test="email != null">email,</if>
            <if test="gender != null">gender,</if>
            <if test="nationality != null">nationality,</if>
            <if test="birth != null">birth,</if>
            <if test="idCard != null">id_card,</if>
            <if test="work != null">work,</if>
            <if test="city != null">city,</if>
            <if test="region != null">region,</if>
            <if test="address != null">address,</if>
            <if test="bankName != null">bank_name,</if>
            <if test="bankCard != null">bank_card,</if>
            <if test="status != null">status,</if>
            <if test="registerTime != null">register_time,</if>
            <if test="registerIp != null">register_ip,</if>
            <if test="lastTime != null">last_time,</if>
            <if test="lastIp != null">last_ip,</if>
            <if test="modifyTime != null">modify_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null">#{userName},</if>
            <if test="realName != null">#{realName},</if>
            <if test="loginPwd != null">#{loginPwd},</if>
            <if test="email != null">#{email},</if>
            <if test="gender != null">#{gender},</if>
            <if test="nationality != null">#{nationality},</if>
            <if test="birth != null">#{birth},</if>
            <if test="idCard != null">#{idCard},</if>
            <if test="work != null">#{work},</if>
            <if test="city != null">#{city},</if>
            <if test="region != null">#{region},</if>
            <if test="address != null">#{address},</if>
            <if test="bankName != null">#{bankName},</if>
            <if test="bankCard != null">#{bankCard},</if>
            <if test="status != null">#{status},</if>
            <if test="registerTime != null">#{registerTime},</if>
            <if test="registerIp != null">#{registerIp},</if>
            <if test="lastTime != null">#{lastTime},</if>
            <if test="lastIp != null">#{lastIp},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
         </trim>
    </insert>

    <update id="updateUser" parameterType="User">
        update t_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null">user_name = #{userName},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="loginPwd != null">login_pwd = #{loginPwd},</if>
            <if test="email != null">email = #{email},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="nationality != null">nationality = #{nationality},</if>
            <if test="birth != null">birth = #{birth},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="work != null">work = #{work},</if>
            <if test="city != null">city = #{city},</if>
            <if test="region != null">region = #{region},</if>
            <if test="address != null">address = #{address},</if>
            <if test="bankName != null">bank_name = #{bankName},</if>
            <if test="bankCard != null">bank_card = #{bankCard},</if>
            <if test="status != null">status = #{status},</if>
            <if test="registerTime != null">register_time = #{registerTime},</if>
            <if test="registerIp != null">register_ip = #{registerIp},</if>
            <if test="lastTime != null">last_time = #{lastTime},</if>
            <if test="lastIp != null">last_ip = #{lastIp},</if>
            <if test="modifyTime != null">modify_time = #{modifyTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="Long">
        delete from t_user where id = #{id}
    </delete>

    <delete id="deleteUserByIds" parameterType="String">
        delete from t_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>